.concept {
	background: linear-gradient(0deg, #A1938689 0%, #A1938689 50%,  #A193861F 50%, #A193861F 100%);	
}
.concept-img {
	display: flex;
	justify-content: flex-start;
	&_two {
		width: 526vw;
		padding-right: 1.1rem;
	}
	&_three {
		width: 304vw;
	}
}
.concept-wrap-box {
	display: flex;
	justify-content: space-around;
	padding: 69px 100px 64px 74px; 
}
.concept-wrap-title {
		width: 460px;
		margin-top: 25px;
		font-size: 4.0rem;
		font-family: ヒラギノ明朝 Pro;
		letter-spacing: 1.6rem;
		color: $background;
		}
.concept-wrap-p{
	width: 422px;
	font-size: 1.6rem;
	font-family: ヒラギノ角ゴ Pro;
	letter-spacing: 0.5rem;
	color: $background;
}
