
$gray: #707070;
$rightgr: #A193861F;
$background: #FFFFFF;


@mixin pc {
    @media screen and (min-width: 960px){
        @content;
    }
}
@mixin tab {
    @media screen and (max-width: 959px){
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 600px){
        @content;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 18px;
    line-height: 1.18;
}

.inner {
    width: 85%;
    margin: 0 auto;
    @include tab {
        width: 89%;
    }
}

.title {
    padding-top: 256px;
    margin-bottom: 1.1rem;
    font-size: 1.8rem;
    color: $gray;
    display: flex;
    align-items: center;
    letter-spacing: 0.5rem;
    &:after {
        display: inline-block;
        content: "";
        border: 1px solid $gray;
        width: 9.9rem;
        margin-left: 1vw;
    }
}

